footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
}

.footer__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right, rgb(196, 41, 196), rgb(91, 176, 254));
    padding: 10px 15px;
    margin: 10px;
    font-family: var(--fonte-principal);
}

.footer__content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__content .text{
    font-size: 14px;
}
 
.footer__content .title{
    font-weight: 700;
}
.footer__content .subtitle{
    font-weight: 500;
}

.footer__container .subscribe{
    background-color: var(--branco);
    color: var(--preto);
    border: none;
    border-radius: 40px;
    font-size: 14px;
    font-weight: 700;
    padding: 15px 30px;
    transition: 0.2s;
    cursor: pointer;
}

.footer__container .subscribe:hover{
    transform: scale(1.1);
}

@media screen and (max-width: 1280px) {

    .footer__links__container{
        gap: 50px;
    }
}

@media screen and (max-width: 1024px) {

    footer{
        display: none;
    }
}

